<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>codesocket.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://codesocket-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>codesocket-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>codesocket-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$codesocket-app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://codesocket.com/WebApp-codesocket-app.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>4414429d-f3e4-4ef0-91a8-a15bde504327</ADClientAPPID>
    <ADClientPassword>Ip5eS+U6UvwAY7vm1bsvf2tx/ovUx3iFowhvBWYpjH0=</ADClientPassword>
    <ADReplyUrl>https://codesocket-app.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>28e72658-4f50-4a78-a1af-b2f949e4bf7d</ADTenantId>
    <ADPostLogoutRedirectUri />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StorageConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=codesocketstore;AccountKey=tYpIt2qHibcrdKT/rAUPZUN1W/IRQSKv73f4Y3qGxMyQQlgXeGSlEsSJQvekq9unGhWvjs3ul95Xm3c/i5/IKA==;BlobEndpoint=https://codesocketstore.blob.core.windows.net/;TableEndpoint=https://codesocketstore.table.core.windows.net/;QueueEndpoint=https://codesocketstore.queue.core.windows.net/;FileEndpoint=https://codesocketstore.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=codesocketstore;AccountKey=tYpIt2qHibcrdKT/rAUPZUN1W/IRQSKv73f4Y3qGxMyQQlgXeGSlEsSJQvekq9unGhWvjs3ul95Xm3c/i5/IKA==;BlobEndpoint=https://codesocketstore.blob.core.windows.net/;TableEndpoint=https://codesocketstore.table.core.windows.net/;QueueEndpoint=https://codesocketstore.queue.core.windows.net/;FileEndpoint=https://codesocketstore.file.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>